/* colors */

$primary: #ff561d;
$secondary: #f7f5f1;
$accentOne: #00b4ff;
$accentTwo: #2ce3a4;
$accentThree: #e6da00;
$accentFour: #353535;

/* shade */

$primaryShade: #ff561d;
$secondaryShade: #f7f5f1;
$accentOneShade: #00b4ff;
$accentTwoShade: #2ce3a4;
$accentThreeShade: #e6da00;
$accentFourShade: #353535;
/* tint */

$primaryTint: #ff561d;
$secondaryTint: #f7f5f1;
$accentOneTint: #00b4ff;
$accentTwoTint: #2ce3a4;
$accentThreeTint: #e6da00;
$accentFourtint: #353535;
/* pastel */

$primaryPastel: #ff561d;
$secondaryPastel: #f7f5f1;
$accentOnePastel: #00b4ff;
$accentTwoPastel: #2ce3a4;
$accentThreePastel: #e6da00;
$accentFourPastel: #353535;


