header.site-header
  .row.disclaimer
    .col-sm-8.col-sm-offset-2
      span.alert-icon(aria-hidden="true")
      | The Picnic Rescue Food Recall Search tool uses data obtained from the
      | OpenFDA. OpenFDA is a beta research project and is not real-time.
  .row.banner
    .col-sm-8.col-sm-offset-2
      a.site__title.logo(href="/") Picnic Rescue
      p.site__subtitle Be the hero at your next family gathering by avoiding recalled food items!
  nav.row.navigation(role="navigation")
    ul.col-sm-8.col-sm-offset-2
      li
        a(href="/about/") About
      li
        a(href="/contact/") Contact




