footer.footer
  .wrapper.row
    .col-sm-8.col-sm-offset-2
      small &copy; 2015 Flexion Inc. All rights reserved. Flexion&reg; is a registered trademark of Flexion Inc. 
      a(href="/privacy") Privacy
      |  | 
      a(href="/terms") Terms
