#search {
  max-width: 80%;
}
.btn-primary {
  background-color: $primary;
  border: 1px solid $primaryShade;
  &:focus, &:hover {
    background-color: $accentOneShade;
    border: 1px solid $accentOneShade;
  }
}
