@import "variables";
@import "alert";
@import "card";
@import "header";
@import "footer";


.right  {
  float: right;
}
.product__details {
  box-sizing: border-box;
   margin: 0 0 10px 0;
  border: 1px solid #ccc;
  height: 0;
  padding: 0 10px;
  transition: all ease-in-out .2s;
  overflow: hidden;
  &.open {
    height: auto;
    padding: 10px;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  em {
    font-style: normal;
    font-weight: bold;
  }
}

.product__title {
  font-size: 1.3em;
  padding: 10px;
  width: 100%;
  background: #ccc;
  margin-bottom: 0;
  .glyphicon {
    float: right;
    display: inline-block;
  }
}

