/* colors */

$primary: #ff561d;
$secondary: #f7f5f1;
$accentOne: #00b4ff;
$accentTwo: #2ce3a4;
$accentThree: #e6da00;
$accentFour: #353535;

/* shade */

$primaryShade: #b23b1e;
$secondaryShade: #aeaba9;
$accentOneShade: #127eb2;
$accentTwoShade: #299e74;
$accentThreeShade: #a2961d;
$accentFourShade: #252325;
/* tint */

$primaryTint: #fd8766;
$secondaryTint: #faf7f5;
$accentOneTint: #54cafd;
$accentTwoTint: #72eac0;
$accentThreeTint: #ece059;
$accentFourTint: #727072;
/* pastel */

$primaryPastel: #fedcd4;
$secondaryPastel: #fefcfe;
$accentOnePastel: #ceeffe;
$accentTwoPastel: #d7f9ee;
$accentThreePastel: #fcf7d0;
$accentFourPastel: #d8d6d8;


