div(ng-include='"components/header/header.html"')
main.main.row(role="main")

  div.col-sm-12.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
    h2 Picnic Rescue Search Tool
    p Foodborne illnesses are caused by bacteria, viruses, parasites, toxins, or other substance contamination. 
    p Certain groups of people are more susceptible to foodborne illnesses, especially children under five, older adults, pregnant women, and people with diabetes, autoimmune diseases, HIV/AIDS or cancer. These high risk individuals are both more likely to get sick from contaminated food, and more likely to be seriously impacted by contaminated food.
    p If you, or someone you love falls into one of these groups, there are of lots of recommendations for safe meal prep and serving steps you can take to decrease the likelihood of illness. But becoming a smarter shopper is also imperative. Enter Picnic Rescue.
    p Picnic Rescue is a simple search tool that allows you to search the FDA's Food Enforcement database by food type, to ensure that a recalled item doesn't make it into your shopping cart or picnic basket. You, too, can become a picnic hero by avoiding recalled products that might be on your shopping list&mdash;or already in your pantry&mdash;destined for your next family gathering.
    h2 Flexion
    p Flexion (<a href="http://flexion.us">flexion.us</a>) is an enterprise IT advising, staffing and digital solutions company serving up lean and agile solutions. We help organizations get ahead and stay ahead by implementing smart business strategies, new cloud-based technologies and smart user-focused  strategies that are affordable, measurable and successful.
    h2 More About Food Safety
    ul
      li <a href="http://www.foodsafety.gov/keep/index.html">http://www.foodsafety.gov/keep/index.html</a>
      li <a href="http://www.foodsafety.gov/poisoning/index.html">http://www.foodsafety.gov/poisoning/index.html</a>
      li <a href="http://www.foodsafety.gov/keep/government/index.html">http://www.foodsafety.gov/keep/government/index.html</a>

div(ng-include='"components/footer/footer.html"')
