div(ng-include='"components/header/header.html"')
main.main.row(role="main")
  
  div.col-sm-12.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
    h2 Contact
    p If you have comments or questions please send them to:
    p Flexion Inc
    p 1500 W. Main St. suite 500
    p Sun Prairie, WI 53590
    p accounts+tou@flexion.us.

div(ng-include='"components/footer/footer.html"')
