div(ng-include='"components/header/header.html"')
main.main.row(role="main")
  .input-group.col-sm-8.col-sm-offset-2
    form.search-form(no-validate)
      label.sr-only(for="search") Search Recalled Foods
      input#search.search.form-control(type="text", ng-model='food')
      .input-group-btn
        button.btn.btn-primary(type="submit", ng-click='search(food)') Find Local Recalls
  .col-sm-8.col-sm-offset-2
    h1 Food Recall Results
      small.update &nbsp;Database last updated &ndash; {{date}}
    div(ng-repeat='recall in reports | orderBy: "report_date": true')      
      article.product__card
        h2.product__title {{recall.product_description | limitTo:50 }}
          div.btn.btn-primary
            span.glyphicon.glyphicon-plus
            | View Recall Details
        .product__details
          ul
            li.recall__details
              span.icon
              em Recall Reason:&nbsp;
              | {{recall.reason_for_recall}}
            li.recall__states
              span.icon
              em Affected States:&nbsp;
              | {{recall.distribution_pattern}}
            li.recall__report-date
              span.icon
              em Report Date:&nbsp;
              | {{recall.report_date | recallDate}}
            li.recall__classification
              span.icon
              em Classification:&nbsp;
              | {{recall.classification}}
            li.recall__code-info
              span.icon
              em Product Code:&nbsp;
              | {{recall.code_info}}
div(ng-include='"components/footer/footer.html"')
