div.container.search__group
  h1.search__title Food Recall Search
  form.search-form.input-group.input-group-lg(no-validate)
    label.sr-only(for='search') Search
    div.form-control(aria-live="assertive")
      input#search.search__field(type='text', ng-model='food')
    span.input-group-btn
      button.search__button.btn.btn-default(type='submit',
      ng-click='startSpin();search(food)')
        span.sr-only Search Database
        span.glyphicon.glyphicon-search(aria-hidden='true')

div
  span(us-spinner='', spinner-key='spinner-1')


div
  table.table.no-margin.table-striped.table-hover.table-bordered
    thead
      tr
        th
          | Recall Date
        th
          | Product&nbsp;&nbsp;

        th
          | Locale&nbsp;&nbsp;

        th
          | Recalling Firm&nbsp;&nbsp;
        th
          | Status&nbsp;&nbsp;


    tbody
      tr(ng-repeat='recall in reports | orderBy: "report_date": true')
        td {{ recall.report_date | recallDate }}
        td {{ recall.product_description | limitTo: 50 }}
        td {{recall.city}}, {{ recall.state }} {{ recall.country }}
        td {{recall.recalling_firm }}
        td {{ recall.status }}

  p {{ reports }}div(ng-include="header.html")
main.main.row(role="main")
  .alert.alert-danger
    p Sorry, we couldn't find your location. Please select your state.

  .col-sm-8.col-sm-offset-2
    h1 {{state}} Food Recall Results
      small.update Database last updated &ndash; {{date}}
    article.product__card
      h2.product__title {{product-descriotion}}
        div.btn.btn-primary
          span.glyphicon.glyphicon-plus
          | View Recall Details
      .product__details.visuallyHidden
        ul
          li.recall__details
            span.icon
            em Recall Reason:
            | {{reason-for-recall}}
          li.recall__states
            span.icon
            em Affected States:
            | {{distribution-pattern}}
          li.recall__report-date
            span.icon
            em Report Date:
            | {{report-date}}
          li.recall__classification
            span.icon
            em Classification:
            | {{classification}}
          li.recall__code-info
            span.icon
            em Product Code:
            | {{code-info}}
div(ng-include="footer.html")
