div(ng-include='"components/header/header.html"')
main.main.row(role="main")
  .input-group.col-sm-8.col-sm-offset-2
    form.search-form(no-validate)
      label.sr-only(for="search") Search Recalled Foods
      input#search.search.form-control(type="text", ng-model='food')
      .input-group-btn
        button.btn.btn-primary(type="submit", ng-click='search(food)') Find Local Recalls
  .col-sm-8.col-sm-offset-2
    h1 {{state}} Food Recall Results
      small.update Database last updated &ndash; {{date}}
    div(ng-repeat='report in reports')
      article.product__card
        h2.product__title {{report.product-description}}
          div.btn.btn-primary
            span.glyphicon.glyphicon-plus
            | View Recall Details
        .product__details.sr-only
          ul
            li.recall__details
              span.icon
              em Recall Reason:
              | {{report.reason-for-recall}}
            li.recall__states
              span.icon
              em Affected States:
              | {{report.distribution-pattern}}
            li.recall__report-date
              span.icon
              em Report Date:
              | {{report.report-date}}
            li.recall__classification
              span.icon
              em Classification:
              | {{report.classification}}
            li.recall__code-info
              span.icon
              em Product Code:
              | {{report.code-info}}
div(ng-include='"components/footer/footer.html"')
